* {
font-family:candara;
font-size :14pt; }
body {
width:1200px;
height: 500px;
position :relative;
margin:7px auto;
padding: 20px;
background:#ffffff;
border:0px solid #888; 
}
html {
background:#fff
 }
img {
/*border:1px solid black;*/
/*margin-right:15px;
/*-moz-box-shadow:2px 2px 2px #888; -webkit-box-shadow:2px 2px 2px #888;
box-shadow:2px 2px 2px #888; */
}
#member{
	float:right;
	box-shadow: none;
}
.button {
text-decoration:none; }

.button:hover {
color:#ff64d8; }

.appname {
/*text-align :center;
background :#eb8;*/
color:#00a9ec;
font-family:Candara;
font-size:20pt;
padding:4px; }

.fieldname {
float:left;
width:120px; }

.main {
color:black;
float:left; 
border:0px solid black;
width:400px;
}
.right_panel{
	margin-top: 30px;
	float:left; border:0px solid black;
	width:700px;
}
a{
	color:#00a9ec;
	text-weight:bold;
}
#blue {
color:#00a9ec;
font-size:18pt;
}

#pink {
color:#ff64d8;
font-size:18pt;
font-style: italic;
}
.menu{
	padding: 5px;
	background-color: #c7c7c7;
}
.menu li {
display:inline;
margin-right: 15px;
}
#profile{
	width:200px;
}


.whisper {
font-style:italic;
color:#ff64d8;
}

.button{
	color:#00a9ec;
	
	border-radius:25px;
}